<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvdmWnWrPVE0XGi3FpQBiBCFscY16OOTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>247558334166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todosApp</string>
	<key>PROJECT_ID</key>
	<string>todos-app-63758</string>
	<key>STORAGE_BUCKET</key>
	<string>todos-app-63758.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247558334166:ios:6fd6a85699fb7cff0bcb77</string>
</dict>
</plist>